@{
    ViewBag.Title = "OEE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ui-datepicker-month, .ui-datepicker-year {
        color: blue;
    }

    .fields {
        width: 79.5%;
        white-space: nowrap;
    }

    .first {
        display: inline-block;
        width: 10%;
        float: none;
        padding-left: 0px;
        padding-right: -2px;
        margin-right: -2px;
        white-space: nowrap;
    }

    .second {
        display: inline-block;
        padding-right: 0px;
        white-space: normal;
    }

    .pad {
        padding-left: 9%;
    }
</style>
@{
    List<SelectListItem> TimeType = new List<SelectListItem>();

    TimeType.Add(new SelectListItem
    {
        Text = "God Hours",
        Value = "GH",
    });
    //TimeType.Add(new SelectListItem
    //{
    //    Text = "Planned Hours",
    //    Value = "PH",
    //});
    TimeType.Add(new SelectListItem
    {
        Text = "Adjusted OEE",
        Value = "NoBlue",
    });
}
@{
    List<SelectListItem> ProdFAI = new List<SelectListItem>();

    ProdFAI.Add(new SelectListItem
    {
        Text = "OverAll",
        Value = "OverAll",
    });
    ProdFAI.Add(new SelectListItem
    {
        Text = "Production",
        Value = "Production",
    });
    ProdFAI.Add(new SelectListItem
    {
        Text = "FAI",
        Value = "FAI",
    });
    ProdFAI.Add(new SelectListItem
    {
        Text = "Others",
        Value = "Others",
    });
    //ProdFAI.Add(new SelectListItem
    //{
    //    Text = "DeltaFAI",
    //    Value = "DeltaFAI",
    //});
    //ProdFAI.Add(new SelectListItem
    //{
    //    Text = "ProtoType",
    //    Value = "ProtoType",
    //});
    //ProdFAI.Add(new SelectListItem
    //{
    //    Text = "TASLRequirement",
    //    Value = "TASLRequirement",
    //});
    //ProdFAI.Add(new SelectListItem
    //{
    //    Text = "InWork",
    //    Value = "InWork",
    //});
    //ProdFAI.Add(new SelectListItem
    //{
    //    Text = "ReleasedLev1",
    //    Value = "ReleasedLev1",
    //});
    //ProdFAI.Add(new SelectListItem
    //{
    //    Text = "ProtoTypeLev1",
    //    Value = "ProtoTypeLev1"
    //});
}
@{
    List<SelectListItem> TabularType = new List<SelectListItem>();

    TabularType.Add(new SelectListItem
    {
        Text = "Day Wise",
        Value = "Day",
    });
    TabularType.Add(new SelectListItem
    {
        Text = "Week Wise",
        Value = "Week",
    });
    TabularType.Add(new SelectListItem
    {
        Text = "Month Wise",
        Value = "Month",
    });
    TabularType.Add(new SelectListItem
    {
        Text = "Yearly",
        Value = "Year",
    });
}
<div class="right_col" role="main">
    <div class="x_panel">
        <div class="x_title">
            <h2>OEE  Report Generation</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("OEEReport", "Reports", FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @*<label class="col-sm-new-1 control-label">Plant</label>*@
                            <div class="col-sm-new-3">
                                @Html.DropDownList("PlantID", null, "--Select Plant--", new { @id = "PlantID", @class = "form-control", @tabindex = "2", @name = "PlantID", @required = "required", @value = ViewData["PlantID"] })
                            </div>
                            @*<label class="col-sm-new-1 control-label">Shop</label>*@
                            <div class="col-sm-new-3">
                                @Html.DropDownList("ShopID", null, "--Select Section--", new { @id = "ShopID", @class = "form-control", @tabindex = "2", @name = "ShopID", @required = "required", @value = ViewData["ShopID"] })
                            </div>
                            @*<label class="col-sm-new-1 control-label">Cell</label>*@
                            <div class="col-sm-new-3">
                                @Html.DropDownList("CellID", null, "--Select Cell--", new { @id = "CellID", @class = "form-control", @tabindex = "2", @name = "CellID", @value = ViewData["CellID"] })
                            </div>
                            @*<label class="col-sm-new-1 control-label">Machine</label>*@
                            <div class="col-sm-new-3">
                                @Html.DropDownList("WorkCenterID", null, "--Select Machine--", new { @id = "WorkCenterID", @class = "form-control", @tabindex = "2", @name = "WorkCenterID", @value = ViewData["WorkCenterID"] })
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <label class="col-sm-1 control-label" style="margin-top: -8px;">Time Factor</label>
                            <div class="col-sm-new-3">
                                @Html.DropDownList("TimeType", TimeType, new { @id = "TimeType", @name = "TimeType", @class = "stacked-label", @style = "margin-left: 2%;aria-expanded:false;width:50%" })
                                @*@Html.DropDownList("MachineID", null, "--Select Machine--", new { @id = "MachineID", @class = "form-control", @tabindex = "2", @name = "WorkCenterID", @value = ViewData["MachineID"] })*@
                            </div>
                            <label class="col-sm-new-1 control-label" style="margin-top: -8px;">Prod/FAI</label>
                            <div class="col-sm-new-3">
                                @Html.DropDownList("ProdFAI", ProdFAI, new { @id = "ProdFAI", @name = "ProdFAI", @class = "stacked-label", @style = "margin-left: 2%;aria-expanded:false;width:50%" })
                                @*@Html.DropDownList("MachineID", null, "--Select Machine--", new { @id = "MachineID", @class = "form-control", @tabindex = "2", @name = "WorkCenterID", @value = ViewData["MachineID"] })*@
                            </div>
                            <label class="col-sm-new-1 control-label" style="margin-top: -8px;">Period</label>
                            <div class="col-sm-new-3">
                                @Html.DropDownList("TabularType", TabularType, new { @id = "TabularType", @name = "TabularType", @class = "stacked-label", @style = "margin-left: 2%;aria-expanded:false;width:50%" })
                                @*@Html.DropDownList("MachineID", null, "--Select Machine--", new { @id = "MachineID", @class = "form-control", @tabindex = "2", @name = "WorkCenterID", @value = ViewData["MachineID"] })*@
                            </div>
                        </div>
                        <div>
                            <label class="control-label1 col-md-2 col-sm-3 col-xs-12" style="display:none;">Start Date</label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="">
                                    <div class='input-group date myDatepicker4'>
                                        <input type="text" id="FromDate" name="StartDate" class="form-control myDatepicker4" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <label class="control-label1 col-md-2 col-sm-3 col-xs-12" style="display:none;">End Date</label>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="">
                                    <div class='input-group date myDatepicker4'>
                                        <input type="text" id="ToDate" name="EndDate" class="form-control myDatepicker4" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-new col-sm-new-2 ListOfPrograms">GENERATE</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery-2.1.4.min.js"></script>
<!-- FastClick -->
<script src="~/vendors/fastclick/lib/fastclick.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- validator -->
<script src="~/vendors/validator/validator.js"></script>

<script src="~/vendors/chosen-select.js" type="text/javascript"></script>
<!-- bootstrap-daterangepicker -->
<script src="~/vendors/moment/min/moment.min.js"></script>
<script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-datetimepicker -->
<script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link href="~/css/fileinput.css" rel="stylesheet" />
<link href="~/css/fileinput.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $('.chosen-select').chosen();
    });
</script>
<script type="text/javascript">
        /* Timepicker */
        $('.myDatepicker3').datetimepicker({ format: 'hh:mm A' });
    </script>
<script type="text/javascript">
        $('.myDatepicker4').datetimepicker({
            format: 'YYYY-MM-DD',
            maxDate: moment(),


        });
    </script>

@*<script>
    $(function () {
        var dateFormat = "mm/dd/yy",
            from = $("#from")
                .datepicker({
                    minDate: new Date(2016, 11 - 1, 21),
                    maxDate: '+50Y',
                    defaultDate: "+1w",
                    maxDate: "-1d",
                    //dateFormat: 'dd/mm/yy'
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#to").datepicker({
                defaultDate: "+1w",
                maxDate: "-1d",
                //dateFormat: 'dd/mm/yy'
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }
            return date;
        }
    });
</script>*@

@*TabularData Summarization Based on*@
@*<script>
    $("#target").val($("#target option:first").val());
</script>*@


<script>
    //Cascading
    $("#PlantID").on("change", function () {
        $("#ShopID").empty();
        $("#CellID").empty();
        $("#WorkCenterID").empty();
        var selectedID = $("#PlantID option:selected").val();
        $.getJSON("/ShiftPlanner/GetShop", { PlantID: selectedID }, function (data) {
            $.each(data, function (index, item) {
                $("#ShopID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                //$("#CellID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
            });
            $("#ShopID").prepend("<option value='' selected='selected'>All</option>");
            $("#CellID").prepend("<option value='' selected='selected'>All</option>");
            $("#WorkCenterID").prepend("<option value='' selected='selected'>All</option>");
        });
    });


    $("#ShopID").on("change", function () {
        $("#CellID").empty();
        $("#WorkCenterID").empty();
        var selectedID = $("#ShopID option:selected").val();
        $.getJSON("/ShiftPlanner/GetCell", { ShopID: selectedID }, function (data) {
            $.each(data, function (index, item) {
                $("#CellID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
            });
            $("#CellID").prepend("<option value='' selected='selected'>All</option>");
            $("#WorkCenterID").prepend("<option value='' selected='selected'>All</option>");
        });
    });


    $("#CellID").on("change", function () {
        $("#WorkCenterID").empty();
        var selectedID = $("#CellID option:selected").val();
        //alert(selectedID);
        $.getJSON("/ShiftPlanner/GetWC_Cell", { CellID: selectedID }, function (data) {
            $.each(data, function (index, item) {
                $("#WorkCenterID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
            });
            $("#WorkCenterID").prepend("<option value='' selected='selected'>All</option>");
        });
    });
</script>