
@model SRKSDemo.Server_Model.TblPMSNotification_Master
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="overlapDownward" type="hidden" value="@ViewBag.DoesThisPlanOverlapUpwards" />
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row form-horizontal">
            @using (Html.BeginForm("Create", "PMSMaster", FormMethod.Post))
            {
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Create PMS Master</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <input id="errorChecker" value="@TempData["Error"]" type="hidden" />
                            <div class="row container">
                                <div class="col-md-1" id="warning" style="display:none">
                                    <span style="color: orange;" class="pull-right">Warning:</span>
                                </div>
                                <div class="col-md-10" id="divError"></div>
                                <div class="col-md-1"></div>
                            </div>
                            <form class="form-horizontal form-label-left" novalidate>
                                <div class="row">

                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Plant</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.DropDownListFor(model => model.PlantID, ViewBag.Plant as IEnumerable<SelectListItem>, "--Select Plant--", new { @id = "PlantID", @class = "form-control", @name = "PlantID", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.PlantID)
                                        </div>
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Shop</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.DropDownListFor(model => model.ShopID, ViewBag.Shop as IEnumerable<SelectListItem>, "--Select Shop--", new { @id = "ShopID", @class = "form-control", @name = "ShopID" })
                                            @*@Html.DropDownList("Shop", null, "--Select Shop--", new { @id = "ShopID", @class = "stacked-label", @name = "ShopID", @style = "margin-left: 2%;aria-expanded:false;width:20%", @value = ViewData["Shop"] })*@
                                            @Html.ValidationMessageFor(model => model.ShopID)
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Cell</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.DropDownListFor(model => model.CellID, ViewBag.Cell as IEnumerable<SelectListItem>, "--Select Cell--", new { @id = "CellID", @class = "form-control", @name = "CellID" })
                                            @*@Html.DropDownList("Cell", null, "--Select Cell--", new { @id = "CellID", @class = "stacked-label", @name = "CellID", @style = "margin-left: 2%;aria-expanded:false;width:20%", @value = ViewData["Cell"] })*@
                                            @Html.ValidationMessageFor(model => model.CellID)
                                        </div>
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Machine</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.DropDownListFor(model => model.WorkCenterID, ViewBag.WorkCenter as IEnumerable<SelectListItem>, "--Select Machines--", new { @id = "MachineID", @class = "form-control", @name = "MachineID" })
                                            @*@Html.DropDownList("WorkCenter", null, "--Select WC--", new { @id = "WorkCenterID", @class = "stacked-label", @name = "WorkCenterID", @style = "margin-left: 2%;aria-expanded:false;width:20%", @value = ViewData["WorkCenter"] })*@
                                            @Html.ValidationMessageFor(model => model.WorkCenterID)
                                        </div>
                                    </div>


                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">To List</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.TextAreaFor(model => model.ToList, new { @class = "form-control1", @placeholder = "To List", @required = "required" })

                                        </div>
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">CC List</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.TextAreaFor(model => model.CcList, new { @class = "form-control1", @placeholder = "CC List", @required = "required" })
                                        </div>

                                    </div>


                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Contact List</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.TextAreaFor(model => model.SMSContactList, new { @class = "form-control1", @placeholder = "SMS Contact List", @required = "required" })
                                        </div>
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">No Of Days Prior</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.TextAreaFor(model => model.NoOfDaysPrior, new { @class = "form-control1", @placeholder = "No Of Days Prior", @required = "required" })
                                        </div>


                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Frequency</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.TextAreaFor(model => model.Frequency, new { @class = "form-control1", @placeholder = "Frequency", @required = "required" })
                                        </div>
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Unit</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            @Html.TextAreaFor(model => model.Unit, new { @class = "form-control1", @placeholder = "Units", @required = "required" })
                                        </div>


                                    </div>




                                    <div class="item form-group">
                                        <label class="col-sm-5 control-label"><span style="color: red;">NOTE:</span> Please use "," as seperator between MailID's </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <a role="button" href="@Url.Action("Index","PMSMaster")" class="btn btn-new" style="margin-top: 10px; margin-left: 5px;"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Back</a>
                    <button type="submit" class="btn btn-new float-right" style="margin-top: 10px;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                    <button id="btnSaveNContinue" type="submit" class="btn btn-new float-right" style="margin-top: 10px;display:none"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Override & Continue </button>
                    <input type="hidden" id="hdnSaveNContinue" name="hdnSaveNContinue" value="0" />
                </div>
            } 


        </div>
    </div>
</div>
<script src="~/js/jquery-2.1.4.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<script>

    //Cascading
    $("#PlantID").on("change", function () {
        $("#ShopID").empty();
        $("#CellID").empty();
        $("#MachineID").empty();
        var selectedID = $("#PlantID option:selected").val();
        $.getJSON("/EscalationMatrix/GetShop", { PlantID: selectedID }, function (data) {
            $.each(data, function (index, item) {
                $("#ShopID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                //$("#CellID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
            });
            $("#ShopID").prepend("<option value='' selected='selected'>--Select Shop--</option>");
            $("#CellID").prepend("<option value='' selected='selected'>--Select Cell--</option>");
            $("#MachineID").prepend("<option value='' selected='selected'>--Select Machines--</option>");
        });
    });

    $("#ShopID").on("change", function () {
        $("#CellID").empty();
        $("#MachineID").empty();
        var selectedID = $("#ShopID option:selected").val();
        $.getJSON("/EscalationMatrix/GetCell", { ShopID: selectedID }, function (data) {
            $.each(data, function (index, item) {
                $("#CellID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
            });
            $("#CellID").prepend("<option value='' selected='selected'>--Select Cell--</option>");
            $("#MachineID").prepend("<option value='' selected='selected'>--Select Machines--</option>");
        });



    });

    $("#CellID").on("change", function () {
        $("#MachineID").empty();
        var selectedID = $("#CellID option:selected").val();
        $.getJSON("/EscalationMatrix/GetWC_Cell", { CellID: selectedID }, function (data) {
            $.each(data, function (index, item) {
                $("#MachineID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
            });
            $("#MachineID").prepend("<option value='' selected='selected'>--Select Machines--</option>");

        });
    });
</script>
<script>

    //Cascading
   

</script>
<script>
    $(function () {
        var item = $("#errorChecker").val();
        $("#divError").html(item);
        if (item != "" && item != null) {
            $("#warning").show();
        } else {
            $("#warning").hide();
        }
    });
</script>
<script>
    $(function () {
        var item = $("#overlapDownward").val();
        if (parseInt(item) >= 1) {
            $("#btnSaveNContinue").show();
            $("#btnSave").hide();
            $("#hdnSaveNContinue").val(item);
        } else {
            $("#btnSaveNContinue").hide();
            $("#btnSave").show();
        }
    });
</script>
